<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules xdt:Transform="InsertIfMissing">
        <remove name="WebDAVModule" xdt:Transform="InsertIfMissing" />
      </modules>
      <handlers>
        <remove name="WebDAV" xdt:Transform="InsertIfMissing" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\api.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
    <system.webServer xdt:Transform="InsertIfMissing"> 
        <httpProtocol xdt:Transform="InsertIfMissing">
            <customHeaders xdt:Transform="InsertIfMissing">
                <add name="Access-Control-Allow-Origin" value="https://react.codefest.com" xdt:Transform="InsertIfMissing" />
                <add name="Access-Control-Allow-Credentials" value="true" xdt:Transform="InsertIfMissing" />
                <add name="Access-Control-Allow-Methods" value="GET,HEAD,PUT,POST,DELETE,OPTIONS" xdt:Transform="InsertIfMissing" />
                <add name="Access-Control-Allow-Headers" value="*" xdt:Transform="InsertIfMissing" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>